* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.target {
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url('./target.png');
  background-size: contain;
  transform: translate(50vw, 50vh);
}

.horizontal {
  position: absolute;
  width: 100vw;
  height: 1px;
  background-color: white;
  transform: translateY(50vh);
}

.vertical {
  position: absolute;
  width: 1px;
  height: 100vh;
  background-color: white;
  transform: translateX(50vw);
}

.coordinates {
  position: absolute;
  margin: 15px;
  color: white;
  transform: translate(15px, 15px);
}